name: Sidelobe Build Matrix Linux
on:
  workflow_call:
jobs:
  build:
    name: Linux, ${{matrix.cxx}}, C++${{matrix.std}}, ${{matrix.build_type}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cxx:
          - g++-12
          - g++-14
        build_type: [Debug, Release]
        std: [14]
        include:
          - cxx: g++-12
            cc: gcc-12
            other_pkgs: g++-12 gcc-12
          - cxx: g++-14
            cc: gcc-14
            other_pkgs: g++-14 gcc-14
    
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - name: Install Toolchain
      run: sudo apt-get install -y ${{matrix.other_pkgs}}
    - name: Setup & Cmake
      working-directory: deploy
      env:
        CC: ${{matrix.cc}}
        CXX: ${{matrix.cxx}}
        CXXFLAGS: ${{matrix.cxxflags}}
      # Note: $GITHUB_WORKSPACE is distinct from ${{runner.workspace}}.
      run: |
        mkdir -p build
        cd build
        cmake -DCMAKE_CXX_STANDARD=${{matrix.std}} \
              -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
              ../..
        
    - name: Build & Run Tests
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      working-directory: deploy/build
      run: |
        cmake --build . --parallel 2
        ctest -C ${{ matrix.build_type }} -L HyperBufferTest -j 2
